<style>
  .auth-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .sign-in-btn{
    margin-right: 10px;
  }
</style>

<div class="auth-center">
  <%= if (current_user) { %>
    <h1><%= current_user.Email %></h1>
      <div>
        <%= linkTo(authPath(), {data-method: "DELETE", class: "btn btn-info", body: "Sign Out"}) %>
      </div>
  <% } else { %>
    <%= linkTo(newAuthPath(), {class: "btn btn-info", body: "Sign In"}) %>
    <%= linkTo(newUsersPath(), {class: "btn btn-success", body: "Register"})%>
  <% } %>
</div>

